<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<sm.enabled>1</sm.enabled>
	<sm.poissonEnabled>0</sm.poissonEnabled>
	<sm.bilinearEnabled>1</sm.bilinearEnabled>
	<sm.resolution>512</sm.resolution>
	<sm.maxLights>16</sm.maxLights>
	<is.maxPointLights>384</is.maxPointLights>
	<is.maxSpotLights>16</is.maxSpotLights>
	<is.maxSpotTexLights>8</is.maxSpotTexLights>
	<is.maxLightsPerCluster>8</is.maxLightsPerCluster>
	<lf.maxSpritesPerFlare>8</lf.maxSpritesPerFlare>
	<lf.maxFlares>32</lf.maxFlares>
	<bloom.enabled>1</bloom.enabled>
	<bloom.renderingQuality>0.500000</bloom.renderingQuality>
	<bloom.blurringDist>1</bloom.blurringDist>
	<bloom.samples>17</bloom.samples>
	<bloom.blurringIterationsCount>1</bloom.blurringIterationsCount>
	<bloom.threshold>2.5</bloom.threshold>
	<bloom.scale>2.5</bloom.scale>
	<ssao.enabled>1</ssao.enabled>
	<ssao.renderingQuality>0.250000</ssao.renderingQuality>
	<ssao.blurringIterationsCount>1</ssao.blurringIterationsCount>
	<sslf.enabled>1</sslf.enabled>
	<pps.enabled>1</pps.enabled>
	<pps.sharpen>0</pps.sharpen>
	<pps.gammaCorrection>1</pps.gammaCorrection>
	<ir.enabled>1</ir.enabled>
	<ir.rendererSize>64</ir.rendererSize>
	<ir.cubemapTextureArraySize>32</ir.cubemapTextureArraySize>
	<sslr.enabled>0</sslr.enabled>
	<sslr.startRoughnes>0.200000</sslr.startRoughnes>
	<dbg.enabled>0</dbg.enabled>
	<tm.enabled>1</tm.enabled>
	<width>1920</width>
	<height>1080</height>
	<renderingQuality>1</renderingQuality>
	<lodDistance>20</lodDistance>
	<tessellation>1</tessellation>
	<clusterSizeZ>32</clusterSizeZ>
	<imageReflectionMaxDistance>30</imageReflectionMaxDistance>
	<core.uniformPerFrameMemorySize>16777216</core.uniformPerFrameMemorySize>
	<core.storagePerFrameMemorySize>16777216</core.storagePerFrameMemorySize>
	<core.transferPerFrameMemorySize>67108864</core.transferPerFrameMemorySize>
	<core.vertexPerFrameMemorySize>16777216</core.vertexPerFrameMemorySize>
	<maxTextureSize>1048576</maxTextureSize>
	<textureAnisotropy>8</textureAnisotropy>
	<dataPaths>assets:.</dataPaths>
	<glmajor>4</glmajor>
	<glminor>5</glminor>
	<fullscreenDesktopResolution>1</fullscreenDesktopResolution>
	<debugContext>0</debugContext>
</config>
