<?xml version="1.0" encoding="utf-8"?>

<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.godlike.ankibench">
	<application
		android:label="AnKi Bench"
		android:hasCode="false">
		<activity 
			android:name="android.app.NativeActivity"
			android:label="AnKi Bench"
			android:configChanges="orientation|keyboardHidden">
			<meta-data 
				android:name="android.app.lib_name"
				android:value="ankibench" />
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
	<uses-feature android:glEsVersion="0x00030000"/>
	<uses-sdk android:minSdkVersion="18"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
</manifest>
